<h1>About MyFixes</h1>

<%= link_to 'Home', root_path %>

<center><textarea cols="50" rows="5">
We are MyFixes. MyFixes was founded in 2019 by Ricardo Briseno and Tony Mendoza so that we can make car
fixes simple and a no brainer. We start off with a simple interface that lets users add fixes so that other
users can follow along and be able to find that fix without having to look through multiple outdated forums.
</textarea></center>
